.idea
.git
src/__pycache__
tests/__pycache__
src/utils/__pycache__
src/utils/__pycache__
data/test/*
data/train/*
ocr_transformer_rn50_64x256_53str_jit.pt
data/test/*
data/train/*
demo/dump/
demo/
.virtual_documents/